<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <title>Explore Egypt</title>
</head>

<body class="light-theme">
  <header>
    <nav>
      <ul>
        <li>
          <label class="switch"> Dark Mode
            <i class="fas fa-adjust"></i>
            <div>
              <input type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
        </li>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/famousplaces">Famous Place</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/economy">Economy</a></li>
        <li><a href="/geography">Geography</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <img src="/images/egypt5.jpg" alt="Kurukshetra" width=auto height=auto>
    </div>
  </main>

  <h1 class="history-heading2">Economy of Egypt</h3>
    <p class="history-para">
</br>
     Egypt's economy depends mainly on agriculture, media, petroleum imports, natural gas, and tourism; there are also more
than three million Egyptians working abroad, mainly in Libya, Saudi Arabia, the Persian Gulf and Europe. The completion
of the Aswan High Dam in 1970 and the resultant Lake Nasser have altered the time-honoured place of the Nile River in
the agriculture and ecology of Egypt. A rapidly growing population, limited arable land, and dependence on the Nile all
continue to overtax resources and stress the economy.
</br>
</br>

The government has invested in communications and physical infrastructure. Egypt has received United States foreign aid
since 1979 (an average of $2.2 billion per year) and is the third-largest recipient of such funds from the United States
following the Iraq war. Egypt's economy mainly relies on these sources of income: tourism, remittances from Egyptians
working abroad and revenues from the Suez Canal.
</br>
</br>

Egypt has a developed energy market based on coal, oil, natural gas, and hydro power. Substantial coal deposits in the
northeast Sinai are mined at the rate of about 600,000 tonnes (590,000 long tons; 660,000 short tons) per year. Oil and
gas are produced in the western desert regions, the Gulf of Suez, and the Nile Delta. Egypt has huge reserves of gas,
estimated at 2,180 cubic kilometres (520 cu mi),and LNG up to 2012 exported to many countries. In 2013, the
Egyptian General Petroleum Co (EGPC) said the country will cut exports of natural gas and tell major industries to slow
output this summer to avoid an energy crisis and stave off political unrest, Reuters has reported. Egypt is counting on
top liquid natural gas (LNG) exporter Qatar to obtain additional gas volumes in summer, while encouraging factories to
plan their annual maintenance for those months of peak demand, said EGPC chairman, Tarek El Barkatawy. Egypt produces
its own energy, but has been a net oil importer since 2008 and is rapidly becoming a net importer of natural gas.
</br>
</br>

Economic conditions have started to improve considerably, after a period of stagnation, due to the adoption of more
liberal economic policies by the government as well as increased revenues from tourism and a booming stock market. In
its annual report, the International Monetary Fund (IMF) has rated Egypt as one of the top countries in the world
undertaking economic reforms. Some major economic reforms undertaken by the government since 2003 include a
dramatic slashing of customs and tariffs. A new taxation law implemented in 2005 decreased corporate taxes from 40% to
the current 20%, resulting in a stated 100% increase in tax revenue by the year 2006.
</br>
</br>
    </p>
  </br>
</br>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>