<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <title>Explore Egypt</title>
</head>


<body class="light-theme">
  <header>
    <nav>
      <ul>
        <li>
          <label class="switch"> Dark Mode
            <i class="fas fa-adjust"></i>
            <div>
              <input type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
        </li>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/famousplaces">Famous Place</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/economy">Economy</a></li>
        <li><a href="/geography">Geography</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <img src="/images/egypt3.jpg" alt="Kurukshetra" width=auto height=auto>
    </div>
  </main>
</br>
<h1 class="history-heading2">Video of The Egyptian Museum</h3>
</br>
    <iframe class = "video" width="560" height="315" src="https://www.youtube.com/embed/EdCReWs6-wI" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
</br>
<h1 class="history-heading2">About The Egyptian Museum</h3>
    <p class="history-para">
      The Museum of Egyptian Antiquities, known commonly as the Egyptian Museum or Museum of Cairo, in Cairo, Egypt, is home
to an extensive collection of ancient Egyptian antiquities. It has 120,000 items, with a representative amount on
display and the remainder in storerooms. Built in 1901 by the Italian construction company, Garozzo-Zaffarani, to a
design by the French architect Marcel Dourgnon, the edifice is one of the largest museums in the region. As of March
2019, the museum was open to the public. In 2021, the museum is due to be superseded by the new Grand Egyptian Museum at
Giza.
</br>
</br>
The Egyptian Museum of Antiquities contains many important pieces of ancient Egyptian history. It houses the world's
largest collection of Pharaonic antiquities. The Egyptian government established the museum built in 1835 near the
Ezbekieh Garden and later moved to the Cairo Citadel. In 1855, Archduke Maximilian of Austria was given all of the
artifacts by the Egyptian government; these are now in the Kunsthistorisches Museum, Vienna.
</br>
</br>

A new museum was established at Boulaq in 1858 in a former warehouse, following the foundation of the new Antiquities
Department under the direction of Auguste Mariette. The building lay on the bank of the Nile River, and in 1878 it
suffered significant damage due to the flooding of the Nile River. In 1891, the collections were moved to a former royal
palace, in the Giza district of Cairo. They remained there until 1902 when they were moved, for the last time, to the
current museum in Tahrir Square, built by the Italian company of Giuseppe Garozzo and Francesco Zaffrani to a design by
the French architect, Marcel Dourgnon.
</br>
</br>

In 2004, the museum appointed Wafaa El Saddik as the first female director general.
</br>
</br>

During the Egyptian Revolution of 2011, the museum was broken into, and two mummies were destroyed. Several
artifacts were also shown to have been damaged and around 50 objects were lost.Since then, 25 objects have been
found. Those that were restored were put on display in September 2013 in an exhibition entitled Damaged and Restored.
Among the displayed artifacts are two statues of King Tutankhamun made of cedar wood and covered with gold, a statue of
King Akhenaten, ushabti statues that belonged to the Nubian kings, a mummy of a child and a small polychrome glass
vase.
</br>
</br>
    </p>
    </br>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>