<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <title>Explore Egypt</title>
</head>

<body class="light-theme">
  <header>
    <nav>
      <ul>
        <li>
          <label class="switch"> Dark Mode
            <i class="fas fa-adjust"></i>
            <div>
              <input type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
        </li>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/famousplaces">Famous Place</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/economy">Economy</a></li>
        <li><a href="/geography">Geography</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <img src="/images/egypt6.jpg" alt="Kurukshetra" width=auto height=auto>
    </div>
  </main>

  <h1 class="history-heading2">Geography of Egypt</h3>
    <p class="history-para">
</br>
Egypt lies primarily between latitudes 22째 and 32째N, and longitudes 25째 and 35째E. At 1,001,450 square kilometres
(386,660 sq mi), it is the world's 30th-largest country. Due to the extreme aridity of Egypt's climate, population
centres are concentrated along the narrow Nile Valley and Delta, meaning that about 99% of the population uses about
5.5% of the total land area. 98% of Egyptians live on 3% of the territory.
</br>
</br>
Egypt is bordered by Libya to the west, the Sudan to the south, and the Gaza Strip and Israel to the east. Egypt's
important role in geopolitics stems from its strategic position: a transcontinental nation, it possesses a land bridge
(the Isthmus of Suez) between Africa and Asia, traversed by a navigable waterway (the Suez Canal) that connects the
Mediterranean Sea with the Indian Ocean by way of the Red Sea.
</br>
</br>
Apart from the Nile Valley, the majority of Egypt's landscape is desert, with a few oases scattered about. Winds create
prolific sand dunes that peak at more than 30 metres (100 ft) high. Egypt includes parts of the Sahara desert and of the
Libyan Desert. These deserts protected the Kingdom of the Pharaohs from western threats and were referred to as the "red
land" in ancient Egypt.
</br>
</br>
Towns and cities include Alexandria, the second largest city; Aswan; Asyut; Cairo, the modern Egyptian capital and
largest city; El Mahalla El Kubra; Giza, the site of the Pyramid of Khufu; Hurghada; Luxor; Kom Ombo; Port Safaga; Port
Said; Sharm El Sheikh; Suez, where the south end of the Suez Canal is located; Zagazig; and Minya. Oases include
Bahariya, Dakhla, Farafra, Kharga and Siwa. Protectorates include Ras Mohamed National Park, Zaranik Protectorate and
Siwa.
</br>
</br>
On 13 March 2015, plans for a proposed new capital of Egypt were announced
</br>
</br>
    </p>
  </br>
</br>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>