<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <title>Explore Egypt</title>
</head>

<body class="light-theme">
  <header>
    <nav>
      <ul>
        <li>
          <label class="switch"> Dark Mode
            <i class="fas fa-adjust"></i>
            <div>
              <input type="checkbox" />
              <span class="slider round"></span>
            </div>
          </label>
        </li>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/famousplaces">Famous Place</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/economy">Economy</a></li>
        <li><a href="/geography">Geography</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <img src="/images/egypt2.jpg" alt="Kurukshetra" width=auto height=auto>
    </div>
  </main>

  <h1 class="history-heading2">History of Egypt</h3>
    <p class="history-para">
</br>
     The history of Egypt has been long and wealthy, due to the flow of the Nile River with its fertile banks and delta, as
well as the accomplishments of Egypt's native inhabitants and outside influence. Much of Egypt's ancient history was a
mystery until Egyptian hieroglyphs were deciphered with the discovery and help of the Rosetta Stone.Among the Seven
Wonders of the Ancient World is the Great Pyramid of Giza.
</br>
</br>
Ancient Egyptian civilization coalesced around 3150 BC with the political unification of Upper and Lower Egypt under the
first king of the First Dynasty, Narmer.Predominantly native Egyptian rule lasted until the conquest by the Achaemenid
Empire in the sixth century BC.
</br>
</br>
In 332 BC, Macedonian ruler Alexander the Great conquered Egypt as he toppled the Achaemenids and established the
Hellenistic Ptolemaic Kingdom, whose first ruler was one of Alexander's former generals, Ptolemy I Soter. The Ptolemies
had to fight native rebellions and were involved in foreign and civil wars that led to the decline of the kingdom and
its final annexation by Rome. The death of Cleopatra ended the nominal independence of Egypt resulting in Egypt's
becoming one of the provinces of the Roman Empire.
</br>
</br>
Roman rule in Egypt(including Byzantine) lasted from 30 BC to 641 AD, with a brief interlude of control by the Sasanian
Empire between 619 and 629, known as Sasanian Egypt.[1] After the Muslim conquest of Egypt, parts of Egypt became
provinces of successive Caliphates and other Muslim dynasties: Rashidun Caliphate(632 - 661), Umayyad
Caliphate(661–750), Abbasid Caliphate(750–935), Fatimid Caliphate(909–1171), Ayyubid Sultanate(1171–1260), and the
Mamluk Sultanate(1250–1517).In 1517, Ottoman sultan Selim I captured Cairo, absorbing Egypt into the Ottoman Empire.
</br>
</br>
Egypt remained entirely Ottoman until 1867, except during French occupation from 1798 to 1801.[2] Starting in 1867,
Egypt became a nominally autonomous tributary state called the Khedivate of Egypt.However, Khedivate Egypt fell under
British control in 1882 following the Anglo - Egyptian War.After the end of World War I and following the Egyptian
revolution of 1919, the Kingdom of Egypt was established.While a de jure independent state, the United Kingdom retained
control over foreign affairs, defense, and other matters.British occupation lasted until 1954, with the Anglo - Egyptian
agreement of 1954.
</br>
</br>
The modern Republic of Egypt was founded in 1953, and with the complete withdrawal of British forces from the Suez Canal
in 1956, it marked the first time in 2500 years that Egypt was both fully independent and ruled by native
Egyptians.President Gamal Abdel Nasser(president from 1956 to 1970) introduced many reforms and created the short -
lived United Arab Republic(with Syria).His terms also saw the Six - Day War and the creation of the international Non -
Aligned Movement.His successor, Anwar Sadat(president from 1970 to 1981) changed Egypt's trajectory, departing from many
of the political, and economic tenets of Nasserism, re-instituting a multi-party system and launching the Infitah
economic policy. He led Egypt in the Yom Kippur War of 1973 to regain Egypt's Sinai Peninsula, which Israel had occupied
since the Six - Day War of 1967. This later led to the Egypt–Israel Peace Treaty.
</br>
</br>
Recent Egyptian history has been dominated by events following nearly thirty years of rule by the former president Hosni
Mubarak.The Egyptian revolution of 2011 deposed Mubarak and resulted in the first democratically elected president in
Egyptian history, Mohamed Morsi.Unrest after the 2011 revolution and related disputes led to the 2013 Egyptian coup
d'état.
</br>
</br>
    </p>
  </br>
</br>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>