<!DOCTYPE html>
<html lang="en">

<head>
   <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/regular.min.js"
  />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    
      <title>Explore Egypt</title>
</head>

<body class="light-theme">
    <header>
      <nav>
        <ul>
          <li>
            <label class="switch"> Dark Mode
              <i class="fas fa-adjust"></i>
              <div>
                <input type="checkbox" />
                <span class="slider round"></span>
              </div>
            </label>
          </li>
          <li><a class="active" href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/famousplaces">Famous Place</a></li>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/economy">Economy</a></li>
        <li><a href="/geography">Geography</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <div>
            <img src="/images/egypt4.jpg" alt="Kurukshetra" width=auto height=auto>
        </div>
    </main>
    <div class="history">
          <h1 class="history-heading2">
            Restaurants in Egypt (Click to view their locations)
          </h1>
          
          <!-- Restaurants list -->

          <ul class="history-list restaurants">
            <li>
              <a
                class="restaurants-link"
                href="https://www.google.com/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk00mvlsenVTVDf8C5n-Uyl7DBAr2cw:1625332552274&q=famous+restaurants+in+egypt&rflfq=1&num=10&sa=X&ved=2ahUKEwi43K3Ls8fxAhUICM0KHSyOBBsQjGp6BAgTEGQ&cshid=1625332624667753&biw=1366&bih=667#rlfi=hd:;si:;mv:[[45.5236157,-73.4676894],[45.466482299999996,-73.7173919]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:9"
                target="_blank"
              >
               Dunn's Famous Decarie</a
              >
            </li>
          </br>
            <li>
              <a
                class="restaurants-link"
                href="https://www.google.com/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk00mvlsenVTVDf8C5n-Uyl7DBAr2cw:1625332552274&q=famous+restaurants+in+egypt&rflfq=1&num=10&sa=X&ved=2ahUKEwi43K3Ls8fxAhUICM0KHSyOBBsQjGp6BAgTEGQ&cshid=1625332624667753&biw=1366&bih=667#rlfi=hd:;si:;mv:[[45.5236157,-73.4676894],[45.466482299999996,-73.7173919]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:9"

                target="_blank"
              >
              Poissonnerie & Restaurant Rayan</a
              >
            </li>
          </br>
            <li>
              <a
                class="restaurants-link"
                href="https://www.google.com/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk00mvlsenVTVDf8C5n-Uyl7DBAr2cw:1625332552274&q=famous+restaurants+in+egypt&rflfq=1&num=10&sa=X&ved=2ahUKEwi43K3Ls8fxAhUICM0KHSyOBBsQjGp6BAgTEGQ&cshid=1625332624667753&biw=1366&bih=667#rlfi=hd:;si:;mv:[[45.5236157,-73.4676894],[45.466482299999996,-73.7173919]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:9"
                target="_blank"
              >
              Rumi restaurant</a
              >
            </li>
          </br>
            <li>
              <a
                class="restaurants-link"
                href="https://www.google.com/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk00mvlsenVTVDf8C5n-Uyl7DBAr2cw:1625332552274&q=famous+restaurants+in+egypt&rflfq=1&num=10&sa=X&ved=2ahUKEwi43K3Ls8fxAhUICM0KHSyOBBsQjGp6BAgTEGQ&cshid=1625332624667753&biw=1366&bih=667#rlfi=hd:;si:;mv:[[45.5236157,-73.4676894],[45.466482299999996,-73.7173919]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:9"
                target="_blank"
              >
              Restaurant Jano</a
              >
            </li>
          </br>
            <li>
              <a
                class="restaurants-link"
                href="https://www.google.com/search?tbs=lf:1,lf_ui:9&tbm=lcl&sxsrf=ALeKk00mvlsenVTVDf8C5n-Uyl7DBAr2cw:1625332552274&q=famous+restaurants+in+egypt&rflfq=1&num=10&sa=X&ved=2ahUKEwi43K3Ls8fxAhUICM0KHSyOBBsQjGp6BAgTEGQ&cshid=1625332624667753&biw=1366&bih=667#rlfi=hd:;si:;mv:[[45.5236157,-73.4676894],[45.466482299999996,-73.7173919]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!1m4!1u1!2m2!1m1!1e1!1m4!1u1!2m2!1m1!1e2!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!2m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:9"
                target="_blank"
              >
              Restaurant Yas</a
              >
            </li>

          </ul>

          <!-- // Restaurants list -->
        </div>
    
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>