body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
}

:root {
  --navHeight: 70px;
  --sage: #D2CCA1;
  --paleSpringBud: #DEDABA;
  --goldCrayola: #E5C687;
  --richBlackForeground: #0F1A20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #2D4739;
  --gray: #eee;
}

[data-theme="light"] {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
  --themeSwitchColor: var(--sage);
}

[data-theme="dark"] {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
  --themeSwitchColor: var(--msuGreen);
}

* {
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  transition: background-color 0.6s ease, color 1s ease;
}

a {
  color: var(--fontColor);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.switch {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
  background-color: var(--themeSwitchColor);
}

input:checked + .slider {
  transform: translateX(8px);
}

nav {
  background: var(--navBg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background: var(--mainBg);
  /* height: calc(100vh - var(--navHeight)); */
}

img {
  margin: 2px;
padding-top: 10px;
  max-width: 100%;
  height: auto;
}


html,
body {
height: 100%;
background-color: var(--mainBg);
}

.inputtype {
margin: 10px ;
width: 50%;
height: 150px;
padding: 12px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: var(--navLinkHoverBg);
font-size: 16px;
resize: none;
}

.button {
background-color: var(--navLinkHoverBg); /* Green */
border: 2px solid #ccc;
color: var(--fontColor);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

footer{
margin-top: 3%;
text-align: center;
}

.history-para {
padding: 13px;
}

.history-heading2 {
margin: 2px;
padding-top: 20px;
text-decoration: underline;
}

.video {
display: block;
margin: 0 auto;
}

.restaurants {
padding: 10px;
}

.restaurants-link {
color: #6e0101;
}

.history {
margin: 20px;
}
